body {
    background-image: url('./assets/Background-image.jpg');
    background-size: 100px;
    background-position: center;
}

.container {
    width: 500px;
    height: 300px;
    margin: 200px auto;
}

.glass {
    background: linear-gradient();
    backdrop-filter: blur(10px);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgb(147, 101, 194);
    box-shadow: 0 8px 32px rgb(192, 154, 154);
}